<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% assign time = 0 %}
    {% assign targetname = page.target %}
 
    {% if page.time %}
    {% assign time = page.time %}
    {% endif %}
    
    {% if page.targetname %}
    {% assign targetname = page.targetname %}
    {% endif %}

    <!-- <meta http-equiv="refresh" content="{{ time }};url={{ page.target }}"/> -->
    <link rel="canonical" href="{{ page.target }}"/>
    <title>Redirecting to {{ targetname }}</title>
</head>
<body>
{{ time }}
{{ targetname }}


    If you are not redirected automatically, follow <a href='{{ page.redirect }}'>this link</a>.
</body>
</html>

