<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% assign time = 2 %}
    {% assign targetname = page.target %}
    {% assign title = Redirecting to {{ targetname }} %}
 
    {% if page.time %}
    {% assign time = page.time %}
    {% endif %}
    
    {% if page.targetname %}
    {% assign targetname = page.targetname %}
    {% endif %}

    <meta http-equiv="refresh" content="{{ time }};url={{ page.target }}"/>
    <link rel="canonical" href="{{ page.target }}"/>
    {% if page.targettitle %}
    <title>{{ title }}</title>
    {% endif %}
</head>
<body>
    <h1>{{ title }}</h1>

    {{ time }}
{{ targetname }}


    If you are not redirected automatically, follow <a href='{{ page.target }}'>this link</a>.
</body>
</html>

